body{
    background-image: url(https://causaoperaria.org.br/wp-content/uploads/2023/04/linux-1280x720-1-1024x576.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h1{
    color: black;
    text-align: center;
    margin-top: 50px; 
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: black;
    text-align: center;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: black;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}